$thickness-1: 0.063rem;
$thickness-2: 0.125rem;
$thickness-3: 0.188rem;
$thickness-4: 0.25rem;
$thickness-5: 0.313rem;
$thickness-6: 0.375rem;
$thickness-7: 0.438rem;
$thickness-8: 0.5rem;
$thickness-9: 0.563rem;
$thickness-10: 0.625rem;
$underline-thicknesses: ("1": $thickness-1, "2": $thickness-2, "3": $thickness-3, "4": $thickness-4, "5": $thickness-5, "6": $thickness-6, "7": $thickness-7, "8": $thickness-8, "9": $thickness-9, "10": $thickness-10);
@mixin underline-variant-color($color) {
    text-decoration-color: $color;
}

@mixin underline-variant-thickness($thickness) {
    text-decoration-thickness: $thickness;
}

.underline {
    text-decoration-line: underline;
    text-underline-position: under;
}

@each $color,
$value in $theme-colors {
    $underline-color: $value;
    .underline-#{$color} {
        @include underline-variant-color($underline-color);
    }
}

@each $thickness,
$value in $underline-thicknesses {
    $underline-thickness: $value;
    .underline-#{$thickness} {
        @include underline-variant-thickness($underline-thickness);
    }
}